include header
include nav
.jumbotron.text-align-center.large(style="background-color: white")
    h1 Check User for Event
    form.col-lg-4.offset-lg-4(ng-controller="HelloController as cont")
        .form-group
            label(for='studentId') Student ID
            input#studentId.form-control(ng-model="mailRegister", type='text', aria-describedby='', placeholder='Enter Student ID')
        button.btn.btn-primary(type='submit', ng-click='cont.checkUser(studentId)') Check User


footer.fixed-bottom
    p(style="float: right;")
        a(href='#') Back to top
    p
        | © 2016 Built with node.js