include header
include nav2

.jumbotron.text-align-center.large.white(ng-controller="HelloController as cuck")
    h1 Upload CSV file
    input(type='file')
    br
    md-button.md-raised.md-primary(ng-click='cuck.uploadNames()') Upload
include footer
