include header
include nav2

.jumbotron.text-align-center.large.white(ng-controller="HelloController as cuck")
    h1 Names
    table
        tr
            th ID
            th First Name
            th Last Name
            th(ng-repeat='head in nameHeader') {{head}}
        tr(ng-repeat='item in names', ng-if="item.firstName != 'root'")
            td {{$index}}
            td {{item.firstName}}
            td {{item.lastName}}
            td(ng-repeat='f in item.food track by $index', ng-if='logMe(f)') {{f}}
include footer
