include header
include nav
.jumbotron.text-align-center.large(style="background-color: white")
    h1 Register
    form.col-lg-4.offset-lg-4(ng-controller="HelloController as cont")
        .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(ng-model="mailRegister", type='email', aria-describedby='emailHelp', placeholder='Enter email')
        .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(ng-model="passRegister", type='password', placeholder='Password')
        .form-group
            label(for='exampleInputPassword1') Confirm Password
            input#exampleInputPassword1.form-control(ng-model="passRegisterConfirm", type='password', placeholder='Password')
        button.btn.btn-primary(type='submit', ng-click='cont.register()') Register


footer.fixed-bottom
    p(style="float: right;")
        a(href='#') Back to top
    p
        | © 2016 Built with node.js
